In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv("/content/drive/MyDrive/heatwaves/adilabad.csv")
df.head()

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,Jan-18,0.000000,12.460951,31.436757,23.637521,69.652971,0.073835,9.502509
1,Feb-18,0.608083,17.213722,33.474436,25.258835,66.959774,0.147619,11.622820
2,Mar-18,0.204244,21.510696,36.918506,19.259253,52.996604,0.091577,14.329210
3,Apr-18,0.421579,25.683860,39.596491,19.607018,55.286842,0.171190,16.647210
4,May-18,1.115110,28.420883,42.377419,19.453820,55.644992,0.692115,18.462540

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  52 non-null     float64
 7   Average of wind_speed_max (Kmph)  54 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [5]:
df['Average of wind_speed_min (Kmph)'].fillna(value=df['Average of wind_speed_min (Kmph)'].mean(), inplace=True)

In [6]:
df['Average of wind_speed_max (Kmph)'].fillna(value=df['Average of wind_speed_max (Kmph)'].mean(), inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  57 non-null     float64
 7   Average of wind_speed_max (Kmph)  57 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [8]:
month=input("enter the month you want to predict in 3-letter format(Jan): ")

enter the month you want to predict in 3-letter format(Jan): Jan

In [9]:
df1=pd.DataFrame()
for index, row in df.iterrows():
    if month in row['Row Labels'] :
        df1 = df1.append(row)
print(df1)

   Row Labels  Average of Rainfall (mm)  Average of temp_min (â°C)  \
0      Jan-18                  0.000000                   12.460951
12     Jan-19                  0.130856                   12.201262
24     Jan-20                  0.799462                   15.586918
36     Jan-21                  0.010036                   15.545341
48     Jan-22                  1.227778                   13.938889

    Average of temp_max (â°C)  Average of humidity_min (%)  \
0                    31.436757                    23.637521
12                   29.281907                    33.557363
24                   28.468280                    51.518100
36                   31.460215                    39.524552
48                   27.506631                    49.814875

    Average of Humidity_max (%)  Average of wind_speed_min (Kmph)  \
0                     69.652971                          0.073835
12                    83.543058                          0.082698
24                    93.191935                          0.000000
36                    87.789785                          3.422711
48                    92.718817                          0.048029

    Average of wind_speed_max (Kmph)
0                           9.502509
12                          7.256012
24                          6.796168
36                         18.316160
48                          3.894803

In [10]:
df1["target"]=df1.shift(-1)["Average of temp_max (â°C)"]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
0,Jan-18,0.000000,12.460951,31.436757,23.637521,69.652971,0.073835,9.502509,29.281907
12,Jan-19,0.130856,12.201262,29.281907,33.557363,83.543058,0.082698,7.256012,28.468280
24,Jan-20,0.799462,15.586918,28.468280,51.518100,93.191935,0.000000,6.796168,31.460215
36,Jan-21,0.010036,15.545341,31.460215,39.524552,87.789785,3.422711,18.316160,27.506631
48,Jan-22,1.227778,13.938889,27.506631,49.814875,92.718817,0.048029,3.894803,NaN

In [11]:
df2=df1.tail(1)
df2.drop(['Row Labels','target'],axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
df2

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
48,1.227778,13.938889,27.506631,49.814875,92.718817,0.048029,3.894803

In [13]:
x=np.array(df2)
x

array([[1.22777778e+00, 1.39388889e+01, 2.75066308e+01, 4.98148745e+01,
        9.27188172e+01, 4.80290000e-02, 3.89480300e+00]])

In [14]:
df1=df1[df1.target.notnull()]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
0,Jan-18,0.000000,12.460951,31.436757,23.637521,69.652971,0.073835,9.502509,29.281907
12,Jan-19,0.130856,12.201262,29.281907,33.557363,83.543058,0.082698,7.256012,28.468280
24,Jan-20,0.799462,15.586918,28.468280,51.518100,93.191935,0.000000,6.796168,31.460215
36,Jan-21,0.010036,15.545341,31.460215,39.524552,87.789785,3.422711,18.316160,27.506631

In [15]:
predictors = df1.columns[~df1.columns.isin(["target", "Row Labels"])]
df1[predictors].head()

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,0.000000,12.460951,31.436757,23.637521,69.652971,0.073835,9.502509
12,0.130856,12.201262,29.281907,33.557363,83.543058,0.082698,7.256012
24,0.799462,15.586918,28.468280,51.518100,93.191935,0.000000,6.796168
36,0.010036,15.545341,31.460215,39.524552,87.789785,3.422711,18.316160

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [17]:
X=df1[predictors]
y=df1["target"]
X

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,0.000000,12.460951,31.436757,23.637521,69.652971,0.073835,9.502509
12,0.130856,12.201262,29.281907,33.557363,83.543058,0.082698,7.256012
24,0.799462,15.586918,28.468280,51.518100,93.191935,0.000000,6.796168
36,0.010036,15.545341,31.460215,39.524552,87.789785,3.422711,18.316160

In [18]:
X=sc.fit_transform(X)

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
rf = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [21]:
rf.fit(X,y)
y_pred=rf.predict(X)
y_pred.shape

(4,)

In [22]:
print("predicting the temperatures of previous years: ",y_pred)

predicting the temperatures of previous years:  [28.92015209 28.63989476 30.41328364 28.09444184]

In [23]:
from sklearn.metrics import mean_absolute_percentage_error
error=mean_absolute_percentage_error(y_pred,y)

In [24]:
print("mean absolute percentage error for ",month," is: ",error)

mean absolute percentage error for  Jan  is:  0.01846177682201288

In [25]:
y=rf.predict(x)[0]
print("the predicted maximum temperature for adilabad in ",month," 2023 is: ",y)

the predicted maximum temperature for adilabad in  Jan  2023 is:  29.67815533913344

According to the India Metrological department, Hyderabad Standards identify heatwave conditions if maximum temperature of a station reaches atleast 40 degrees Celsius or more for plains, 37 degrees Celsius or more for coastal regions and atleast 30 degrees Celsius or more for hilly regions

As Adilabad is a hilly region there are chances for occurance of heatwaves if the maximum temperature exceeds 35 degree celsius

In [27]:
if y>=30:
  print("Be careful. There is chance of occuring heatwaves in adilabad in ",month," 2023")
else:
  print("you will be safe, there will be no chance of occuring heawaves")

you will be safe, there will be no chance of occuring heawaves