In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/karimnagar.csv")
df.head()

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,Jan-18,0.000000,14.287097,31.402890,30.324516,84.905935,0.005290,6.776129
1,Feb-18,0.001286,17.089429,33.261714,30.573571,79.324857,0.052143,8.915286
2,Mar-18,0.111871,20.760000,36.514839,26.089161,75.852903,0.022968,9.071097
3,Apr-18,0.648667,24.605467,38.782267,29.902533,80.247733,0.085944,11.694913
4,May-18,1.001161,27.311484,41.866839,24.386065,71.036645,0.270968,12.958968

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  52 non-null     float64
 7   Average of wind_speed_max (Kmph)  54 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [ ]:
df['Average of wind_speed_min (Kmph)'].fillna(value=df['Average of wind_speed_min (Kmph)'].mean(), inplace=True)

In [ ]:
df['Average of wind_speed_max (Kmph)'].fillna(value=df['Average of wind_speed_max (Kmph)'].mean(), inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  57 non-null     float64
 7   Average of wind_speed_max (Kmph)  57 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [ ]:
month=input("enter the month you want to predict in 3-letter format(Jan): ")

enter the month you want to predict in 3-letter format(Jan): Dec

In [ ]:
df1=pd.DataFrame()
for index, row in df.iterrows():
    if month in row['Row Labels'] :
        df1 = df1.append(row)
print(df1)

   Row Labels  Average of Rainfall (mm)  Average of temp_min (â°C)  \
11     Dec-18                  0.603498                   17.510736
23     Dec-19                  0.065524                   17.956687
35     Dec-20                  0.000000                   15.609677
47     Dec-21                  0.000000                   16.716532

    Average of temp_max (â°C)  Average of humidity_min (%)  \
11                   29.805790                    47.917129
23                   29.564247                    50.312669
35                   30.544960                    35.362702
47                   30.629435                    41.335282

    Average of Humidity_max (%)  Average of wind_speed_min (Kmph)  \
11                    92.626900                          0.083836
23                     6.950403                          0.008871
35                    92.095565                          6.721573
47                    94.742540                          0.008871

    Average of wind_speed_max (Kmph)
11                          6.653317
23                         95.931032
35                          0.001008
47                          5.885282

In [ ]:
df1["target"]=df1.shift(-1)["Average of temp_max (â°C)"]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,0.603498,17.510736,29.805790,47.917129,92.626900,0.083836,6.653317,29.564247
23,Dec-19,0.065524,17.956687,29.564247,50.312669,6.950403,0.008871,95.931032,30.544960
35,Dec-20,0.000000,15.609677,30.544960,35.362702,92.095565,6.721573,0.001008,30.629435
47,Dec-21,0.000000,16.716532,30.629435,41.335282,94.742540,0.008871,5.885282,NaN

In [ ]:
df2=df1.tail(1)
df2.drop(['Row Labels','target'],axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
df2

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
47,0.0,16.716532,30.629435,41.335282,94.74254,0.008871,5.885282

In [ ]:
x=np.array(df2)
x

array([[0.00000000e+00, 1.67165323e+01, 3.06294355e+01, 4.13352823e+01,
        9.47425403e+01, 8.87096800e-03, 5.88528226e+00]])

In [ ]:
df1=df1[df1.target.notnull()]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,0.603498,17.510736,29.805790,47.917129,92.626900,0.083836,6.653317,29.564247
23,Dec-19,0.065524,17.956687,29.564247,50.312669,6.950403,0.008871,95.931032,30.544960
35,Dec-20,0.000000,15.609677,30.544960,35.362702,92.095565,6.721573,0.001008,30.629435

In [ ]:
predictors = df1.columns[~df1.columns.isin(["target", "Row Labels"])]
df1[predictors].head()

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,0.603498,17.510736,29.805790,47.917129,92.626900,0.083836,6.653317
23,0.065524,17.956687,29.564247,50.312669,6.950403,0.008871,95.931032
35,0.000000,15.609677,30.544960,35.362702,92.095565,6.721573,0.001008

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:

X=df1[predictors]
y=df1["target"]
X

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,0.603498,17.510736,29.805790,47.917129,92.626900,0.083836,6.653317
23,0.065524,17.956687,29.564247,50.312669,6.950403,0.008871,95.931032
35,0.000000,15.609677,30.544960,35.362702,92.095565,6.721573,0.001008

In [ ]:
X=sc.fit_transform(X)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [ ]:
rf.fit(X,y)
y_pred=rf.predict(X)
y_pred.shape

(3,)

In [ ]:
y_pred

array([29.8649375 , 30.37687903, 30.41104771])

In [ ]:
print("predicting the temperatures of previous years: ",y)

predicting the temperatures of previous years:  11    29.564247
23    30.544960
35    30.629435
Name: target, dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
error=mean_absolute_percentage_error(y_pred,y)

In [ ]:
print("mean absolute percentage error for ",month," is: ",error)

mean absolute percentage error for  Dec  is:  0.007594236716850118

In [ ]:
y=rf.predict(x)[0]
print("the predicted maximum temperature for Karimnagar in ",month," 2023 is: ",y)

the predicted maximum temperature for Karimnagar in  Dec  2023 is:  30.274742383466663

According to the India Metrological department, Hyderabad Standards identify heatwave conditions if maximum temperature of a station reaches atleast 40 degrees Celsius or more for plains, 37 degrees Celsius or more for coastal regions and atleast 30 degrees Celsius or more for hilly regions

As Karimnagar is a Plain region there are chances for occurance of heatwaves if the maximum temperature exceeds 40 degree celsius

In [ ]:
if y>=40:
  print("Be careful. There is chance of occuring heatwaves in Kaimnagar in ",month," 2023")
else:
  print("you will be safe, there will be no chance of occuring heawaves")

you will be safe, there will be no chance of occuring heawaves