In [329]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [330]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [331]:
df=pd.read_csv("/content/drive/MyDrive/khamman.csv")
df.head()

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,Jan-18,0.000000,17.283022,32.462165,36.737012,92.158829,0.000087,5.651439
1,Feb-18,0.001034,18.284023,34.300188,32.508271,90.003195,0.008301,7.457819
2,Mar-18,0.306282,21.734380,36.892445,33.801698,91.949321,0.100785,7.405231
3,Apr-18,0.236754,25.173947,38.983684,35.794112,87.838401,0.243608,10.393200
4,May-18,0.762818,26.991851,40.778098,35.619440,82.713158,0.308893,11.122232

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  52 non-null     float64
 7   Average of wind_speed_max (Kmph)  54 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [333]:
df['Average of wind_speed_min (Kmph)'].fillna(value=df['Average of wind_speed_min (Kmph)'].mean(), inplace=True)

In [334]:
df['Average of wind_speed_max (Kmph)'].fillna(value=df['Average of wind_speed_max (Kmph)'].mean(), inplace=True)

In [335]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  57 non-null     float64
 7   Average of wind_speed_max (Kmph)  57 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [336]:
month=input("enter the month you want to predict in 3-letter format(Jan): ")

enter the month you want to predict in 3-letter format(Jan): Dec

In [337]:
df1=pd.DataFrame()
for index, row in df.iterrows():
    if month in row['Row Labels'] :
        df1 = df1.append(row)
print(df1)

   Row Labels  Average of Rainfall (mm)  Average of temp_min (â°C)  \
11     Dec-18                  1.894481                   19.589935
23     Dec-19                  0.147619                   19.796825
35     Dec-20                  0.000000                   18.309831
47     Dec-21                  0.005991                   18.246544

    Average of temp_max (â°C)  Average of humidity_min (%)  \
11                   30.935146                    53.455601
23                   31.657962                    51.988838
35                   32.365438                    47.229954
47                   32.218126                    49.321505

    Average of Humidity_max (%)  Average of wind_speed_min (Kmph)  \
11                    94.052435                          0.072472
23                     6.069003                          0.004984
35                    32.365438                          0.008783
47                    98.238402                          0.001997

    Average of wind_speed_max (Kmph)
11                          5.229567
23                         95.843779
35                         96.500922
47                          6.306452

In [338]:
df1["target"]=df1.shift(-1)["Average of temp_max (â°C)"]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,1.894481,19.589935,30.935146,53.455601,94.052435,0.072472,5.229567,31.657962
23,Dec-19,0.147619,19.796825,31.657962,51.988838,6.069003,0.004984,95.843779,32.365438
35,Dec-20,0.000000,18.309831,32.365438,47.229954,32.365438,0.008783,96.500922,32.218126
47,Dec-21,0.005991,18.246544,32.218126,49.321505,98.238402,0.001997,6.306452,NaN

In [339]:
df2=df1.tail(1)
df2.drop(['Row Labels','target'],axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [340]:
df2

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
47,0.005991,18.246544,32.218126,49.321505,98.238402,0.001997,6.306452

In [341]:
x=np.array(df2)
x

array([[5.99078300e-03, 1.82465438e+01, 3.22181260e+01, 4.93215054e+01,
        9.82384025e+01, 1.99692800e-03, 6.30645161e+00]])

In [342]:
df1=df1[df1.target.notnull()]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,1.894481,19.589935,30.935146,53.455601,94.052435,0.072472,5.229567,31.657962
23,Dec-19,0.147619,19.796825,31.657962,51.988838,6.069003,0.004984,95.843779,32.365438
35,Dec-20,0.000000,18.309831,32.365438,47.229954,32.365438,0.008783,96.500922,32.218126

In [343]:
predictors = df1.columns[~df1.columns.isin(["target", "Row Labels"])]
df1[predictors].head()

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,1.894481,19.589935,30.935146,53.455601,94.052435,0.072472,5.229567
23,0.147619,19.796825,31.657962,51.988838,6.069003,0.004984,95.843779
35,0.000000,18.309831,32.365438,47.229954,32.365438,0.008783,96.500922

In [344]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [345]:

X=df1[predictors]
y=df1["target"]
X

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,1.894481,19.589935,30.935146,53.455601,94.052435,0.072472,5.229567
23,0.147619,19.796825,31.657962,51.988838,6.069003,0.004984,95.843779
35,0.000000,18.309831,32.365438,47.229954,32.365438,0.008783,96.500922

In [346]:
X=sc.fit_transform(X)

In [347]:
from sklearn.ensemble import RandomForestRegressor

In [348]:
rf = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [349]:
rf.fit(X,y)
y_pred=rf.predict(X)
y_pred.shape

(3,)

In [350]:
y_pred

array([31.85105428, 32.26817409, 32.21682779])

In [351]:
print("predicting the temperatures of previous years: ",y)

predicting the temperatures of previous years:  11    31.657962
23    32.365438
35    32.218126
Name: target, dtype: float64

In [352]:
from sklearn.metrics import mean_absolute_percentage_error
error=mean_absolute_percentage_error(y_pred,y)

In [353]:
print("mean absolute percentage error for ",month," is: ",error)

mean absolute percentage error for  Dec  is:  0.0030389575222042717

In [354]:
y=rf.predict(x)[0]
print("the predicted maximum temperature for Khamam in ",month," 2023 is: ",y)

the predicted maximum temperature for Khamam in  Dec  2023 is:  32.116282813466796

According to the India Metrological department, Hyderabad Standards identify heatwave conditions if maximum temperature of a station reaches atleast 40 degrees Celsius or more for plains, 37 degrees Celsius or more for coastal regions and atleast 30 degrees Celsius or more for hilly regions

As Nizamabad is a Plain region there are chances for occurance of heatwaves if the maximum temperature exceeds 40 degree celsius

In [355]:
if y>=40:
  print("Be careful. There is chance of occuring heatwaves in Khamam in ",month," 2023")
else:
  if(y>=38):
     print("There may be chance of occuring HeatWaves")
  else:
      print("you will be safe, there will be no chance of occuring heawaves")

you will be safe, there will be no chance of occuring heawaves