In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Nizamabad.csv")
df.head()

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,Jan-18,0.000000,14.140281,31.278114,26.208602,81.633830,0.000248,6.348883
1,Feb-18,0.297985,17.098352,33.306044,27.298442,76.094592,0.026557,7.644689
2,Mar-18,0.255666,21.176840,36.903309,21.778991,68.147229,0.017535,7.808768
3,Apr-18,0.141880,24.774359,39.712991,20.731709,64.932051,0.032363,10.019349
4,May-18,0.974111,27.928205,42.155004,19.956824,59.066419,0.156079,12.108189

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  52 non-null     float64
 7   Average of wind_speed_max (Kmph)  54 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [5]:
df['Average of wind_speed_min (Kmph)'].fillna(value=df['Average of wind_speed_min (Kmph)'].mean(), inplace=True)

In [6]:
df['Average of wind_speed_max (Kmph)'].fillna(value=df['Average of wind_speed_max (Kmph)'].mean(), inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  57 non-null     float64
 7   Average of wind_speed_max (Kmph)  57 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [229]:
month=input("enter the month you want to predict in 3-letter format(Jan): ")

enter the month you want to predict in 3-letter format(Jan): Dec

In [230]:
df1=pd.DataFrame()
for index, row in df.iterrows():
    if month in row['Row Labels'] :
        df1 = df1.append(row)
print(df1)

   Row Labels  Average of Rainfall (mm)  Average of temp_min (â°C)  \
11     Dec-18                  0.385827                   16.811164
23     Dec-19                  0.016352                   17.545080
35     Dec-20                  0.000000                   14.817800
47     Dec-21                  0.026808                   15.830590

    Average of temp_max (â°C)  Average of humidity_min (%)  \
11                   29.692557                    43.243468
23                   29.183240                    49.859090
35                   30.633930                    34.849500
47                   30.208010                    41.115020

    Average of Humidity_max (%)  Average of wind_speed_min (Kmph)  \
11                    90.168646                          0.046081
23                     4.569765                          0.009183
35                    90.824470                          5.107383
47                    93.609450                          0.010234

    Average of wind_speed_max (Kmph)
11                          6.068884
23                         92.851490
35                          0.002237
47                          6.184538

In [231]:
df1["target"]=df1.shift(-1)["Average of temp_max (â°C)"]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,0.385827,16.811164,29.692557,43.243468,90.168646,0.046081,6.068884,29.18324
23,Dec-19,0.016352,17.545080,29.183240,49.859090,4.569765,0.009183,92.851490,30.63393
35,Dec-20,0.000000,14.817800,30.633930,34.849500,90.824470,5.107383,0.002237,30.20801
47,Dec-21,0.026808,15.830590,30.208010,41.115020,93.609450,0.010234,6.184538,NaN

In [232]:
df2=df1.tail(1)
df2.drop(['Row Labels','target'],axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [233]:
df2

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
47,0.026808,15.83059,30.20801,41.11502,93.60945,0.010234,6.184538

In [234]:
x=np.array(df2)
x

array([[2.680800e-02, 1.583059e+01, 3.020801e+01, 4.111502e+01,
        9.360945e+01, 1.023400e-02, 6.184538e+00]])

In [235]:
df1=df1[df1.target.notnull()]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,0.385827,16.811164,29.692557,43.243468,90.168646,0.046081,6.068884,29.18324
23,Dec-19,0.016352,17.545080,29.183240,49.859090,4.569765,0.009183,92.851490,30.63393
35,Dec-20,0.000000,14.817800,30.633930,34.849500,90.824470,5.107383,0.002237,30.20801

In [236]:
predictors = df1.columns[~df1.columns.isin(["target", "Row Labels"])]
df1[predictors].head()

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,0.385827,16.811164,29.692557,43.243468,90.168646,0.046081,6.068884
23,0.016352,17.545080,29.183240,49.859090,4.569765,0.009183,92.851490
35,0.000000,14.817800,30.633930,34.849500,90.824470,5.107383,0.002237

In [237]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [238]:

X=df1[predictors]
y=df1["target"]
X

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,0.385827,16.811164,29.692557,43.243468,90.168646,0.046081,6.068884
23,0.016352,17.545080,29.183240,49.859090,4.569765,0.009183,92.851490
35,0.000000,14.817800,30.633930,34.849500,90.824470,5.107383,0.002237

In [239]:
X=sc.fit_transform(X)

In [240]:
from sklearn.ensemble import RandomForestRegressor

In [241]:
rf = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [242]:
rf.fit(X,y)
y_pred=rf.predict(X)
y_pred.shape

(3,)

In [243]:
y_pred

array([29.58579313, 30.3028866 , 30.03486657])

In [244]:
print("predicting the temperatures of previous years: ",y)

predicting the temperatures of previous years:  11    29.18324
23    30.63393
35    30.20801
Name: target, dtype: float64

In [245]:
from sklearn.metrics import mean_absolute_percentage_error
error=mean_absolute_percentage_error(y_pred,y)

In [246]:
print("mean absolute percentage error for ",month," is: ",error)

mean absolute percentage error for  Dec  is:  0.010098510135111996

In [247]:
y=rf.predict(x)[0]
print("the predicted maximum temperature for Nizamabad in ",month," 2023 is: ",y)

the predicted maximum temperature for Nizamabad in  Dec  2023 is:  30.18043726666673

According to the India Metrological department, Hyderabad Standards identify heatwave conditions if maximum temperature of a station reaches atleast 40 degrees Celsius or more for plains, 37 degrees Celsius or more for coastal regions and atleast 30 degrees Celsius or more for hilly regions

As Nizamabad is a Plain region there are chances for occurance of heatwaves if the maximum temperature exceeds 40 degree celsius

In [248]:
if y>=40:
  print("Be careful. There is chance of occuring heatwaves in Nizamabad in ",month," 2023")
else:
  print("you will be safe, there will be no chance of occuring heawaves")

you will be safe, there will be no chance of occuring heawaves