In [320]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [321]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [322]:
df=pd.read_csv("/content/drive/MyDrive/heatwaves/warangal.csv")
df.head()

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
0,Jan-18,0.000000,14.936482,31.612820,33.079863,87.781212,0.057619,7.079386
1,Feb-18,0.003380,17.343670,33.432536,29.271104,84.409885,0.064592,8.641786
2,Mar-18,0.090375,21.251157,36.921419,24.477477,79.682445,0.136160,9.141214
3,Apr-18,0.719777,24.885551,38.526979,31.668705,83.752877,0.361308,11.684751
4,May-18,1.853960,26.743899,40.242608,31.344052,77.767684,0.524301,12.923118

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  52 non-null     float64
 7   Average of wind_speed_max (Kmph)  52 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [324]:
df['Average of wind_speed_min (Kmph)'].fillna(value=df['Average of wind_speed_min (Kmph)'].mean(), inplace=True)

In [325]:
df['Average of wind_speed_max (Kmph)'].fillna(value=df['Average of wind_speed_max (Kmph)'].mean(), inplace=True)

In [326]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Row Labels                        57 non-null     object
 1   Average of Rainfall (mm)          57 non-null     float64
 2   Average of temp_min (â°C)        57 non-null     float64
 3   Average of temp_max (â°C)        57 non-null     float64
 4   Average of humidity_min (%)       57 non-null     float64
 5   Average of Humidity_max (%)       57 non-null     float64
 6   Average of wind_speed_min (Kmph)  57 non-null     float64
 7   Average of wind_speed_max (Kmph)  57 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.7+ KB

In [327]:
month=input("enter the month you want to predict in 3-letter format(Jan): ")

enter the month you want to predict in 3-letter format(Jan): Dec

In [328]:
df1=pd.DataFrame()
for index, row in df.iterrows():
    if month in row['Row Labels'] :
        df1 = df1.append(row)
print(df1)

   Row Labels  Average of Rainfall (mm)  Average of temp_min (â°C)  \
11     Dec-18                  0.724227                   17.587874
23     Dec-19                  0.139874                   18.906400
35     Dec-20                  0.000000                   15.931090
47     Dec-21                  0.000000                   16.546150

    Average of temp_max (â°C)  Average of humidity_min (%)  \
11                   29.289161                    51.114396
23                   30.302590                    52.743180
35                   31.075470                    41.735160
47                   30.615140                    43.571960

    Average of Humidity_max (%)  Average of wind_speed_min (Kmph)  \
11                    92.092728                          0.215471
23                     6.226164                          0.006681
35                    95.683490                          6.660375
47                    96.743180                          0.016377

    Average of wind_speed_max (Kmph)
11                          7.085479
23                         96.334110
35                          6.660375
47                          5.838710

In [329]:
df1["target"]=df1.shift(-1)["Average of temp_max (â°C)"]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,0.724227,17.587874,29.289161,51.114396,92.092728,0.215471,7.085479,30.30259
23,Dec-19,0.139874,18.906400,30.302590,52.743180,6.226164,0.006681,96.334110,31.07547
35,Dec-20,0.000000,15.931090,31.075470,41.735160,95.683490,6.660375,6.660375,30.61514
47,Dec-21,0.000000,16.546150,30.615140,43.571960,96.743180,0.016377,5.838710,NaN

In [330]:
df2=df1.tail(1)
df2.drop(['Row Labels','target'],axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [331]:
df2

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
47,0.0,16.54615,30.61514,43.57196,96.74318,0.016377,5.83871

In [332]:
x=np.array(df2)
x

array([[0.000000e+00, 1.654615e+01, 3.061514e+01, 4.357196e+01,
        9.674318e+01, 1.637700e-02, 5.838710e+00]])

In [333]:
df1=df1[df1.target.notnull()]
df1

,Row Labels,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph),target
11,Dec-18,0.724227,17.587874,29.289161,51.114396,92.092728,0.215471,7.085479,30.30259
23,Dec-19,0.139874,18.906400,30.302590,52.743180,6.226164,0.006681,96.334110,31.07547
35,Dec-20,0.000000,15.931090,31.075470,41.735160,95.683490,6.660375,6.660375,30.61514

In [334]:
predictors = df1.columns[~df1.columns.isin(["target", "Row Labels"])]
df1[predictors].head()

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,0.724227,17.587874,29.289161,51.114396,92.092728,0.215471,7.085479
23,0.139874,18.906400,30.302590,52.743180,6.226164,0.006681,96.334110
35,0.000000,15.931090,31.075470,41.735160,95.683490,6.660375,6.660375

In [335]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [336]:
X=df1[predictors]
y=df1["target"]
X

,Average of Rainfall (mm),Average of temp_min (â°C),Average of temp_max (â°C),Average of humidity_min (%),Average of Humidity_max (%),Average of wind_speed_min (Kmph),Average of wind_speed_max (Kmph)
11,0.724227,17.587874,29.289161,51.114396,92.092728,0.215471,7.085479
23,0.139874,18.906400,30.302590,52.743180,6.226164,0.006681,96.334110
35,0.000000,15.931090,31.075470,41.735160,95.683490,6.660375,6.660375

In [337]:
X=sc.fit_transform(X)

In [338]:
from sklearn.ensemble import RandomForestRegressor

In [339]:
rf = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [340]:
rf.fit(X,y)
y_pred=rf.predict(X)
y_pred.shape

(3,)

In [341]:
y_pred

array([30.488421  , 30.89552777, 30.6075469 ])

In [342]:
print("predicting the temperatures of previous years: ",y_pred)

predicting the temperatures of previous years:  [30.488421   30.89552777 30.6075469 ]

In [343]:
from sklearn.metrics import mean_absolute_percentage_error
error=mean_absolute_percentage_error(y_pred,y)

In [344]:
print("mean absolute percentage error for ",month," is: ",error)

mean absolute percentage error for  Dec  is:  0.004055809721262863

In [345]:
y=rf.predict(x)[0]
print("the predicted maximum temperature for adilabad in ",month," 2023 is: ",y)

the predicted maximum temperature for adilabad in  Dec  2023 is:  30.743658399999962

According to the India Metrological department, Hyderabad Standards identify heatwave conditions if maximum temperature of a station reaches atleast 40 degrees Celsius or more for plains, 37 degrees Celsius or more for coastal regions and atleast 30 degrees Celsius or more for hilly regions

As warangal is a plain region there are chances for occurance of heatwaves if the maximum temperature exceeds 40 degree celsius

In [346]:
if y>=40:
  print("Be careful. There is chance of occuring heatwaves in adilabad in ",month," 2023")
elif y<40 and y>=38:
  print("there may be chance of occuring heatwaves")
else:
  print("you will be safe, there will be no chance of occuring heawaves")

you will be safe, there will be no chance of occuring heawaves